@CHARSET "UTF-8";
html,body{
	margin: 0 0 0 0;
	width: 100%;
}
body,html,td,input,select,span,a {
	font-family: 宋体, Arial, Helvetica, sans-serif;
	color:black;
}
.top_tip{
	background-color: #EEEEEE;
	height: 25px;
	width: 100%;
}
.top_tip div{
	width: 960px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
}
.top_tip span{
	display:-moz-inline-box;display:inline-block;
	height: 25px;
	line-height: 25px;
}
.top_tip a{
	font-size: 13px;
}
.top_tip a:link {color: black;text-decoration: none;}     /* unvisited link */
.top_tip a:visited {color: black;text-decoration: none;}  /* visited link */
.top_tip a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.top_tip a:active {color: #FFA028;text-decoration: none;}   /* selected link */

#charea{
	width:200px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #9DCAF1;
	background: white;
	position: absolute;
	display: none;
}
#charea span{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.area_over{
	background: #C2DFF6;
}
.area_out{
	background: #FFFFFF;
}
.panel{
	width:100%;
}
.layout {
	width:960px;
}
.large_ad{
	width:100%;
	height:100px;
}
.panel #logo{
	width: 100%;
	float: left;
	height: 90px;
	background: url("../images/logo.png") no-repeat;
	background-position: 0 -5px;
	*background-position-y:-6px;
}
.panel #search{
	width: 100%;
	float: left;
}
#ser_type{
	padding-left: 22px;
}

#search .pro{
	display:-moz-inline-box;display:inline-block;
	height: 25px;
	line-height: 25px;
	cursor:pointer;
	padding-left:10px;
	padding-right:10px;
	font-size: 13px;
}
.pro_selected{
	background: #A9D0F3;
}
#ser_input{
	height: 40px;
	background: url("../images/search_toolbar.png") no-repeat;
	background-position:10px -5px;
	padding-left: 12px;
}
#ser_input span{
	display:-moz-inline-box;display:inline-block;
	height: 32px;
	line-height: 32px;
	float:left;
}
#ser1{
	padding-top:6px;
	padding-left:8px;
	height: 26px;
	line-height: 26px;
}
#ser_input input{
	width: 285px;
	border: 0px;
	height:17px;
	line-height:17px;
	font-size: 15px;	
	padding-left: 20px;	
	background: url("../images/search.jpg") no-repeat 4px;
	background-color: white;
}
#ser_btn{
	color:white;
	font-weight:bold;
	width: 100%;
	font-size:13px;
	cursor: pointer;
	text-align: center;
}
#ser_senior,#ser_help{
	width: 100%;
	color:white;
	font-weight:bold;
	font-size:13px;
	cursor: pointer;
	text-align: center;
}
#ser_help{
}
#ser_senior a{
	display:-moz-inline-box;display:inline-block;
	font-size:13px;
	padding-top:3px;
}
#ser_senior a:link {color: #666666;text-decoration: none;}     /* unvisited link */
#ser_senior a:visited {color: #666666;text-decoration: none;}
#ser_senior a:hover {color: #FFA028;text-decoration: underline;}
#ser_senior a:active {color: #FFA028;text-decoration: none;} 
#hot_tag{
	clear:left;
	height:20px;
	font-size:12px;
	width:100%;
	display:-moz-inline-box;display:inline-block;
	padding-left: 12px;
}

#menu{
	clear:left;
	border-bottom: 2px solid #9DCAF1;
	margin-top: 50px;
	padding-left: 10px;
}
#menu span{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.menu_selected{
	height:25px;
	line-height:25px;
	display:-moz-inline-box;display:inline-block;
	background:  #9DCAF1;
	color: white;
}

.copyright{
	border-top: 5px solid #9DCAF1;
	height: 150px;
	margin-top: 15px;
}
.copyright p{
	padding-top: 10px;
	font-size: 14px;
}
#searchPanel ul li table td{
	height: 30px;
}
#rmbq a{
	padding-left: 10px;
	padding-right: 10px;
}
#rmbq a:link {color: black;text-decoration: none;}     /* unvisited link */
#rmbq a:visited {color: black;text-decoration: none;}  /* visited link */
#rmbq a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
#rmbq a:active {color: #FFA028;text-decoration: none;}   /* selected link */

.position{
	width: 940px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 13px;
	text-align: left;
}
.layoutTab{
	width: 960px;
}

.titleClick{
	font-size: 17px;
	font-weight: bold;
}
.titleClick:link {color: black;text-decoration: none;}     /* unvisited link */
.titleClick:visited {color: black;text-decoration: none;}  /* visited link */
.titleClick:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.titleClick:active {color: #FFA028;text-decoration: none;}   /* selected link */

