@CHARSET "UTF-8";
.tipImg{background: url("../../resource/images/website/tip.gif")  no-repeat;width: 130px;height: 172px;}
.errorCode{display: -moz-inline-box;display: inline-block;float: right;width: 69px;height: 73px;line-height: 73px;text-align: center;font-size: 25px;letter-spacing: 5px;font-family: 'YouYuan';color: #FFFFFF;font-weight: 600;}
h4{padding: 0px;margin: 0px;text-align: left;}
h5{padding: 0px;margin: 0px;margin-top: 20px;text-align: left;}
ul,ul{
	margin: 0px;
	margin-left: 5px;
	padding:5px;
	list-style: none;
	font-size: 13px;
	letter-spacing: 2px;
	text-indent: 2px;
	text-align: left;
}
	
a:link {color: blue;text-decoration: none;}     /* unvisited link */
a:visited {color: blue;text-decoration: none;}  /* visited link */
a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
a:active {color: #FFA028;text-decoration: none;}   /* selected link */
