@import url("common.css");
/* CSS Document */
.service_tel{width:158px; height:77px; float:right; background-position:-800px -87px; margin-top:14px;}
.searchbox{ height:56px; float:left; padding-top:8px; width:597px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.searchbox .srch_top{ height:28px; width:100%;}
.searchbox .srch_foot{ color:#fff; line-height:23px; width:100%;  float:left; padding-top:2px;}
.searchbox .srch_foot a{ margin-right:8px;}
.ser_Icon{ width:15px; height:16px; float:left; background-position:}
.stxt{width:480px; height:28px; background:#FFF url(../images/body.gif) 6px -78px; border:none; display:block; padding-left:30px; line-height:28px; font-size:14px; color:#999; float:left;}
.advan_search{ line-height:56px; float:left; padding-left:10px;}
.search_bu{width:81px; height:28px; border:none; float:left; background:#FFF url(../images/body.gif) -1px -110px; cursor:pointer;}
.search_bu01{width:81px; height:28px; border:none; float:left; background:#FFF url(../images/body.gif) -152px -110px; cursor:pointer;}
.search_bu02{width:81px; height:28px; border:none; float:left; background:#FFF url(../images/body.gif) -303px -110px; cursor:pointer;}
.data{ width:190px; float:right; line-height:20px; padding-top:10px;}
.flash{width:960px; height:195px;}
.con_left{width:240px; float:left; text-align:left;}
.con_right{width:710px; float:right; text-align:left; overflow:hidden;}
.rig_tit{ float:right; line-height:29px; padding-right:8px;}
dl.left_dl{ border:1px #E4E4E4 solid; float:left; width:99%;}
dl.left_dl dt{width:100%; height:29px; background:url(../images/left_dt.gif) repeat-x; overflow:hidden;}
.left_tit{ line-height:29px; padding-left:8px; float:left; color:#333;}
dl.left_dl dt .rig_dire{height:28px; float:right;}
dl.left_dl dt .rig_dire .j_left{width:29px; height:28px; float:left;}
dl.left_dl dd{width:100%;}
dl.left_dl .p5{ padding:5px 0;}
ul.tren li{line-height:25px; background:url(../images/body.gif) no-repeat 10px -335px; padding-left:17px; text-align:left; width:91%;}
ul.tren li span a:link,ul.tren li span a:visited{color:#FF3D01;}
ul.tren li span a:hover{color:#FF3D01;}
.left_ad{width:238px; height:114px;}
.left_ad img{width:238px; height:114px;}
.d_over{background:#F4750B url(../images/body.gif) no-repeat 0px -311px; border-bottom:1px #DCDCDC solid;}
.d_out{background:#FDFDFD url(../images/body.gif) no-repeat 0px -366px; border-bottom:1px #DCDCDC solid;}
.n_over{background:#F4750B url(../images/body.gif) no-repeat 10px -381px;}
.n_out{background:#FDFDFD url(../images/body.gif) no-repeat 10px -362px;}
.hot{width:51px; height:51px; background:url(../images/body.gif) no-repeat -909px -172px; left:-3px; top:-4px;}
.new{width:51px; height:51px; background:url(../images/body.gif) no-repeat -909px -235px; left:-3px; top:-3px;}
.tr_tit{ line-height:29px; padding-left:36px; float:left;}
.ph{width:228px; float:left; margin-left:4px; display:inline;}
.ph0{width:100%; height:33px; text-align:left;}
.ph0 span{float:left; line-height:33px; width:104px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ph0 .sp_l{float:left; line-height:33px; width:75px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#666;}
.ph0 .sp_r{color:#666; float:left; line-height:33px;width:77px; padding-left:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ph0 i{float:right; line-height:33px; padding-right:4px;}
.ph0 em{color:#666; float:right; line-height:33px;width:102px; margin-right:3px; display:inline;}
.numbb{font-size:14px; color:#f00; font-weight:bold;}
.ph1{width:100%; margin-top:9px; overflow:hidden; padding-bottom:3px;}
.ph1 kbd{font-size:18px; color:#f00; float:left; margin:0px 9px 0px 5px; display:inline; font-weight:bold;}
.ph1 span{float:left; width:69px; height:59px;}
.ph1 span img{width:69px; height:59px;}
.ph1 em{float:left; padding-left:8px; width:120px; overflow:hidden;}
.ph1 em p{line-height:21px; white-space:nowrap;}
.ph1 i{width:111px;float:left; margin-left:7px; display:inline;}
.ph1 i p{line-height:21px; white-space:nowrap;}
.secretary{width:100%; background:url(../images/body.gif) no-repeat 0px -182px; height:106px;}
.secretary li{width:166px; height:22px; float:right; margin:12px 8px 0 0;display:inline;}
.rig_conte{background-position:-249px -426px;  height:64px; width:708px;}
#rig_Nav{width:710px; height:40px;}
#rig_Nav span{line-height:39px; padding-left:12px; color:#666; width:41px;}
#rig_Nav a{height:33px; float:left; line-height:39px; text-align:center; width:54px; margin-left:11px; display:inline;}
#rig_Nav a:hover{height:33px; float:left; line-height:33px; text-align:center; width:54px; background:#FFDDA8; color:#333; text-decoration:none; margin-top:3px; margin-left:11px; display:inline;}
#rig_Nav a.rig_Navon{height:40px; float:left; line-height:36px; text-align:center; width:54px; background:url(../images/body.gif) no-repeat -906px -365px; color:#fff; font-weight:bold; margin-top:2px; margin-left:11px; display:inline; font-size:14px;}
#rig_Nav em{float:right; line-height:39px; color:#666; padding-right:18px; background:url(../images/doWn_F.jpg) no-repeat 63px center; margin-right:5px; display:inline;}
#rig_Nav em a:link,#rig_Nav em a:visited{color:#333; background:none;}
#rig_Nav em a:hover{color:#333; background:none; text-decoration:underline;}
.locate{line-height:26px; text-align:left; padding-left:24px; width:600px; overflow:hidden;}
.loca_ho{width:100%; margin-bottom:8px; overflow:hidden; float:left; margin-top:4px; clear:both;}
.sibox{width:210px; float:left; margin:10px 0px 0px 18px; display:inline;}
.lspmytab{width:83px;float:left; height:25px; margin-left:35px; display:inline;}
.lspmytab p{width:14px; height:25px; float:left; margin-left:10px; display:inline; background:url(../images/taboff.gif) no-repeat;}
.lspmytab p.now{cursor:pointer; background:url(../images/tabon.gif) no-repeat;}
.tablist{width:210px; position:relative;}
.tab_out{width:202px; background:#F2F2F2; border:1px #CECECE solid; padding:5px;}
.tab_out img{width:202px; height:113px;}

.rexiao{width:40px; height:41px; position:absolute; top:0px; right:-5px; background:url(../images/hot_ssal.gif) no-repeat;}
.rexiao_1{width:40px; height:41px; position:absolute; top:0px; right:-5px; background:url(../images/hot_ssal.gif) no-repeat 0px -63px;}
.rexiao_2{width:40px; height:41px; position:absolute; top:0px; right:-5px; background:url(../images/hot_ssal.gif) no-repeat 0px -131px;}
.rexiao_3{width:40px; height:41px; position:absolute; top:0px; right:-5px; background:url(../images/hot_ssal.gif) no-repeat 0px -189px;}
.rexiao_4{width:40px; height:41px; position:absolute; top:0px; right:0px; background:url(../images/hot_ssal.gif) no-repeat;}
.rexiao_5{width:40px; height:41px; position:absolute; top:0px; right:0px; background:url(../images/hot_ssal.gif) no-repeat left bottom;}
.tabltit{height:34px; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.tabltit h2{ font-size:14px; line-height:34px; float:left;}
.taspan{width:100%; line-height:19px; padding-top:2px; overflow:hidden; overflow:hidden; white-space:nowrap;}
.sale{height:19px; float:right; margin:8px 0px 0px 4px; display:inline;}
.qbox_ad{width:960px; height:80px;}
.qbox_ad img{width:960px; height:80px;}
dl.fast_search{width:958px; text-align:left; border:1px #FBD28A solid; overflow:hidden; float:left;}
dl.fast_search dt{height:34px; background:url(../images/fast_s.gif) no-repeat;}
dl.fast_search dd{ background:#FEFBEC url(../images/fast_dd.gif) repeat-x; overflow:hidden; width:100%; padding-bottom:10px; clear:both;}
.fadd_con ul{width:100%; padding:10px 0px 0px 0px; margin-top:7px; float:left;}
.fadd_con li{width:118px; float:left; margin:8px 0px 0px 35px; display:inline; text-align:left; }
.fadd_con li span{ line-height:25px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; float:left;}
#fast_Nav{width:960px; height:34px;}
#fast_Nav span{width:70px; line-height:30px; padding-left:10px; color:#666;}
#fast_Nav a{height:30px; float:left; line-height:30px; text-align:center; padding:0px 10px 0px 10px;}
#fast_Nav a:hover{height:40px; float:left; font-size:14px; line-height:36px; text-align:center;  padding:0px 10px 0px 10px; background:url(../images/fas_on.gif) repeat-x top center; color:#fff; font-weight:bold; margin-top:-4px; text-decoration:none;}
#fast_Nav a.fast_Navon{height:40px; float:left; font-size:14px; line-height:36px; text-align:center;  padding:0px 10px 0px 10px; background:url(../images/fas_on.gif) repeat-x top center; color:#fff; font-weight:bold; margin-top:-4px;}
#fast_Nav em{ float:right; color:#666; padding-right:18px; background:url(../images/list.gif) no-repeat left 10px;}
#fast_Nav em a:link,#fast_Nav em a:visited{ color:#f60; background:none; }
#fast_Nav em a:hover{ color:#f60; background:none; text-decoration:underline; font-size:12px; }
/*************************************ºÏ×÷»ï°é***************************/
dl.partner{width:958px;border:1px #E4E4E4 solid; text-align:left;}
dl.partner dt{width:100%; height:29px; background:url(../images/partner.gif) repeat-x;}
dl.partner dd{width:100%; overflow:hidden; padding-bottom:10px;}
.partners a{width:90px; height:40px; border:1px #E0E0E0 solid;  float:left;  display:inline; margin:10px 0px 0px 13px;}
.partners a img{width:90px; height:40px;}
.pan_j{ color:#999; line-height:29px; padding-left:10px;}
.join_j{font-size:14px; line-height:29px; padding-right:5px; color:#3366CC;}
.link{ padding-top:5px;}
.link a{ width:85px; height:24px; line-height:24px; text-align:left; float:left; display:block; padding:0px 10px 0px 10px; color:#999; white-space:nowrap; overflow:hidden;}
/***********************************tool*************************/
.box_tool{ border:1px #E6E6E6 solid; width:958px; background:#EFFAFF; text-align:left; overflow:hidden;}
.tool_le{float:left; display:block; padding:20px 0px 10px 30px; background:url(../images/to.gif) no-repeat 25px 15px;width:313px;}
.tool_le h2{font-size:14px; font-weight:bold; padding-left:30px;}
.tool_le p{ width:76px;float:left; line-height:32px; margin-left:27px; display:inline; color:#666;}
.tool_kk{float:left; display:block; padding:20px 0px 10px 30px;background:url(../images/fang.gif) no-repeat 25px 15px; width:550px;}
.tool_kk h2{font-size:14px; font-weight:bold; padding-left:30px;}
.tool_kk p{ width:145px;float:left; line-height:32px; margin-left:27px; display:inline; color:#666;}
.index_hou{ height:56px; background:#F6F6F6; clear:both; border:1px #E6E6E6 solid; width:958px; color:#DCDCDC; line-height:56px; overflow:hidden; margin-top:0px;}
.doing-Dd{width:30px;overflow:hidden; white-space:nowrap;}
#subNav{ position:absolute; border:2px #f60 solid; top:0px; left:240px; background:#96F;}
dl.clic_dl{ border:1px #E4E4E4 solid;}
dl.clic_dl dt{width:100%; height:35px; background:url(../images/clc_dt.gif) repeat-x;}
dl.clic_dl dd{width:100%;}
#slide-box{width:960px; position:relative; height:195px;}
.switchable a {display: block;  position: absolute; top:50px; height: 65px; TEXT-DECORaTION: none}
.switchable .prev {left:0px}
.switchable .next {right:0px}
.wrap {overflow: hidden; width:960px; height:195px;}
#slide-box ul {width:960px}
#slide-box li {float: left; width: 960px; height:195px;}
#slide-box li img{width:960px; height:195px;}
.ks_switch{width:960px; float:left;}
.ks_switch li{width:960px; float:left;}
.em_ad li{ line-height:21px; white-space:nowrap; text-align:left;}
.kkbd{font-size:18px; color:#f00; float:left; margin:0px 4px 0px 4px; display:inline; font-weight:bold;}
.pssad{float:left; width:69px; height:59px;}
.pssad img{width:69px; height:59px;}
.aas_ol{float:left; padding-left:8px; width:120px; overflow:hidden;}
.aas_ol li{line-height:21px; white-space:nowrap; display:block;}
.pos_cs{ position:relative;}
.morecity{position:absolute; background:#fff9d9;z-index:1;border:1px solid #fbd289; width:600px;padding:5px 0; overflow:hidden; right:0px; top:30px;}
#other a{ height:25px; line-height:25px; width:auto; margin:0 5px; padding:0 5px; white-space:nowrap;}
#other a:hover{ height:25px; line-height:25px; width:auto; margin:0 5px; padding:0 5px;}
#other a kbd{ color:#666;}



.king_dgg{width:240px;}
.king_dgg_dt{width:240px;}
.king_dgg_dd{width:238px; border-top:none; border:1px #FFD34D solid; background:#FFFDF1; float:left;}
.fast_ttu{background:url(../images/kind_dg.gif) no-repeat;}
.fast_goub{background:url(../images/kind_dg.gif) no-repeat 0px -119px;}
.kindnav{width:238px; float:left;}
.kindnav ul{width:225px; margin:9px auto 0 auto;}
.kindnav ul li{float:left; position:relative; width:100%; text-align:left; z-index:1; border-bottom:1px #FFECC1 solid; height:29px; line-height:29px}
.kindnav ul li a{ text-decoration:none;}
.kindnav ul li a:hover{ text-decoration:none;}
.kindnav ul li ul {display:none; position:absolute; left:225px; top:-9px; border:2px #F8770B solid; width:150px; text-align:left; background:#fff;}
.kindnav ul li ul li{width:150px; float:left;}
.kindnav li:hover ul, .kindnav li.over ul{ display: block;} /* The magic */
.kindnav ul li:hover,.kindnav ul li.over{ background:#FD9D12;}
.kindnav ul ul li{float:left; width:100%;}  
.kindnav ul li ul li a{display:block; height:29px; line-height:29px;  border-bottom:1px dashed #ccc; width:140px; padding-left:10px; float:left;} 
.kindnav ul li ul li a:hover{background:#FFF9D9; border-bottom:1px solid #e3e4e6; color:#993300; width:140px; text-decoration:none; float:left;}
.st_fl{width:60%; background:url(../images/le_jtt.gif) no-repeat 16px center; padding-left:37px; color:#656565; line-height:28px; font-size:14px; font-weight:bold;}
.area_daoOff{width:118px; height:31px; float:left; text-align:center; line-height:31px; cursor:pointer; font-size:14px; font-weight:bold; border-bottom:1px #FFD34D solid; background:#fff;}
.area_daoOn{ color:#FF6900; background:#FFFDF1; width:118px; height:31px; float:left; text-align:center; line-height:31px; cursor:pointer; font-size:14px; font-weight:bold; text-decoration:none;}
.day_tuan{background:url(../images/kind_dg.gif) no-repeat left -38px;}
.day_tuan_bor{border:1px #CC0001 solid; }
.xmtz_dl{background:url(../images/kind_dg.gif) no-repeat left -79px;}
.xmtz_dl_bor{border:1px #FFD34D solid; }
.every_daytuan{width:240px; float:left; display:inline;}
.every_daytuan_dt{width:240px; height:35px;  }
.every_daytuan_dd{border-top:none; float:left; padding:10px; width:218px;}
.fast_join img{ width:206px; height:109px;}
.every_daytuan_dd p{ line-height:23px; padding-top:8px;}
.contro_use{border:1px #E6E6E6 solid; border-bottom:none; margin-top:15px; width:958px; float:left; padding-bottom:10px;}
.saleto_use{width:200px; padding:23px 0 0 32px;}
.saleto_use li{ text-align:left; line-height:23px; color:#5B5B5B;}
.saleto_use li img{ padding-bottom:7px;}
.fnb{font-weight:200; padding-left:35px;}

.peo_doing{ border:1px #FFD34D solid; background:url(../images/doing.gif) no-repeat left 24px; width:238px;  position:relative;}

.do_cont{width:236px; height:30px; background:url(../images/kind_dg.gif) no-repeat left -156px; position:absolute; left:1px; top:-5px; }

ul.ercon01{ padding:40px 0 17px 0; width:89%; overflow:hidden; margin:auto;}
ul.ercon01 li{background:url(../images/er.gif) no-repeat 0 11px; padding-left:10px; line-height:26px;}
.demand img{width:240px; height:80px;}
.witness_deal{width:240px; margin-top:15px;}
.witness_top{ height:36px;}
.witness_cen{ background:#FFF7EE url(../images/witness_c.gif) repeat; padding-bottom:10px; border-left:1px #FFF1CC solid; border-right:1px #FFF1CC solid;}
ul.ercon{width:90%; overflow:hidden; background:#fff; margin:auto;}
ul.ercon li{background:url(../images/er.gif) no-repeat 5px 15px; text-align:left; width:95%; padding:5px 0 0 13px; float:left; line-height:21px;}
.w070{width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.witness_bottom{ background:url(../images/deal_b.gif) no-repeat; width:240px; height:3px; overflow:hidden;}
.demand_t img{width:240px; height:124px;}
.attention_tit{ line-height:29px; padding-left:8px; float:left; color:#FF6600;}

.index_l{width:475px; float:left;}
.index_r{width:215px; float:right}
.indexrigcon{width:705px; float:right; text-align:left;}
.pho_YY{width:473px; height:30px; background:url(../images/nnumum.gif) repeat-x; position:absolute; bottom:0px; left:0px; filter: Alpha(Opacity=50);}
.num_NUM{ height:30px; float:right;}
.num_NUM li{width:29px; height:30px; float:left; background:#0FF; text-align:center; line-height:30px; color:#FFF; font-size:14px; font-weight:bold;}
.num_NUM li a{ background:url(../images/pho_On.gif) no-repeat; width:29px; height:30px;}
.photo_switch{width:473px; height:206px; position:relative; border:1px #E1E1E1 solid;}
.pic{width:473px; height:206px;}
.pic img {width:473px; height:206px;}
.textbg{ background:#000; height:26px; width:100%; position:absolute; bottom:0px; left:0px; z-index:0; filter:Alpha(opacity=40); -moz-opacity:.1; opacity:0.1;}
.numnum{ height:30px; width:100%; position:absolute; bottom:0px; left:0px;  z-index:101; float:right;}
.numnum li{ color:#fff; float:right; height:30px; width:29px; text-align:center; line-height:30px; font-size:14px; font-weight:bold;}
.numnum li.on{ font-size:14px; font-weight:bold; color:#fff; background:url(../images/pho_On.gif) no-repeat;}
.customers_today{background:url(../images/customers_today.gif) no-repeat; width:475px; height:35px;}
.custorOff{width:101px; height:35px; text-align:center; line-height:30px; background:url(../images/custorOff.gif) no-repeat; font-size:14px; font-weight:bold; cursor:pointer; display:block; float:left;}
.custorOn{width:101px; height:35px; text-align:center; line-height:30px; background:url(../images/custorOn.gif) no-repeat; font-size:14px; font-weight:bold; color:#fff; cursor:pointer; display:block; float:left;}
.w5_o{width:5px; overflow:hidden; float:left; height:10px;}
.cust_centy_dt{width:447px; border-left:1px #FF6900 solid; border-right:1px #FF6900 solid; padding:13px; overflow:hidden; height:161px;}
.cust_centy_dd{width:475px; height:5px; background:url(../images/custbottom.gif) no-repeat; overflow:hidden;}
.howtuan{padding:10px 0 0 20px; float:left; margin-left:4px; display:inline; height:21px;}
.howbg{background:url(../images/howtuan.gif) no-repeat 2px 7px; display:block;}
.goonbuy{background:url(../images/goonbuy.gif) no-repeat 2px 7px; display:block;}
.today_con{float:left; width:154px; height:161px; padding-right:24px;}
.today_con img{width:154px; height:161px;}
.daytuan_rig h2{ color:#8F2C00; font-size:18px; font-weight:bold; line-height:25px; width:260px; word-break:break-all; overflow:auto;}
.daytuan_rig p{ line-height:24px;}
ul.trener li{line-height:28px; background:url(../images/body.gif) no-repeat 10px -336px; padding-left:17px; text-align:left; width:89%;}
.rig_dire{height:28px; float:right; line-height:28px; padding-right:10px;}
.index_adt img{width:705px; height:80px;}
.discount_ro{width:475px; height:30px;}
.discount_ro_dd{}
.tj_sehou td{ line-height:17px; text-align:center; padding-top:8px;}
.tj_sehou th{ text-align:center;}
.tui_j img{width:215px; height:104px;}
.newestcon{width:705px;}
.newestcon dt{width:705px; display:block;}
.last_out{width:202px; background:#F2F2F2; border:1px #CECECE solid; padding:3px;}
.last_out img{width:202px; height:113px;}


.first_j{ height:101px; background:url(../images/first_j.gif) no-repeat;}
.first_jcon{width:396px; height:91px; background:url(../images/first_j.gif) no-repeat 0px -108px; float:right; margin:6px 10px 0px 0px; text-align:left;}
.first_jcon h3{ font-size:18px; color:#FF6900; padding:18px 0px 0px 98px;}
.fir_mo{width:202px; height:24px; border:none; background:url(../images/first_j.gif) no-repeat -408px -109px; line-height:24px; padding-left:5px; color:#666;}
.fir_buton{width:55px; height:24px; border:none; background:url(../images/first_j.gif) no-repeat -410px -140px; line-height:24px; padding-left:5px; text-align:center; color:#fff;}
.cusjo_wz{ height:44px;}
.cusjo_wz .tuanwz{line-height:44px; background:url(../images/tuanwz.gif) no-repeat left 13px; padding-left:30px;}
.fen_shear{padding-top:10px; float:right; text-align:left;}
.fen_shear div{color:#fff; text-align:center; float:left; padding:0px 3px; line-height:20px; display:block;}
.fen_shear span{border:1px #E5E5E5 solid; background:url(../images/weibo.gif) repeat-x 1px 1px;padding:0px 4px; display:block;  line-height:21px; height:20px; float:left; margin-left:6px; display:inline; text-align:left;}
.fen_shear a{ padding-left:26px; display:block;}
.qq{ background:url(../images/xwb.gif) no-repeat 1px 0px;}
.kai_x{ background:url(../images/xwb.gif) no-repeat 6px -23px;}
.renren{ background:url(../images/xwb.gif) no-repeat 4px -48px;}
.sina{ background:url(../images/xwb.gif) no-repeat 4px -73px;}
.tenc{background:url(../images/xwb.gif) no-repeat 4px -97px;}
.mail_bg{background:url(../images/xwb.gif) no-repeat 4px -119px;}
.today_tuan{width:960px;}
.today_top{ height:4px; overflow:hidden; background:url(../images/tuan_topbg.gif) no-repeat;}
.today_cen{width:958px; border-left:1px #C8C8C8 solid; border-right:1px #C8C8C8 solid; background:url(../images/tuan_cenbg.gif) repeat-x;}
.today_fot{ height:3px; overflow:hidden; background:url(../images/tuan_fotbg.gif) no-repeat;}
.deal_intro{width:100%;  text-align:left;}
.deal_intro h1{font-size:24px;color:#333; padding:22px 19px 0px 83px; line-height:40px;}
.deal_intro h1 span{font-size:30px; float:left;}
.zhe_join{ padding:22px;}
.zhecon{width:392px; float:left; }
.zheright{width:463px; float:right;}
.deal-buy{background:#FFF6E9; padding:16px 9px 15px 32px; height:255px; position:relative;}
.deal-buy li{text-align:left;}
.deal-buy li span{ background:url(../images/tuan-num.gif) repeat-x;  height:37px; text-align:center; line-height:37px; color:#D00000; font-size:18px; font-weight:bold; display:block; font-family:Arial; float:left; margin-left:3px; display:inline; padding-left:7px; padding-right:7px; border:1px #DCDBDB solid;}
.deal-buy li em{ float:left; line-height:39px; font-size:20px; font-weight:bold;}
.deal-margin{margin:17px 0px 26px;}
.deal-tuan{width:541px; height:83px; position:absolute; top:117px; left:-33px;}
.deal-tuan strong{ color:#fff; font-size:32px; line-height:65px; float:left; padding-left:33px; overflow:hidden; white-space:nowrap; width:334px;}
.deal-tuan a{ float:right; padding:9px 20px 0px 0px;}
.house-q{width:463px; height:284px;}
.zheright p{ line-height:26px; font-size:14px; padding-top:14px;}
.zheright p span{ line-height:26px;}
.zhecon p{ font-size:14px; line-height:26px; padding-left:30px;}
.new-appli{width:720px; float:left; text-align:left;}
.gong-gao{width:225px; float:right; text-align:left;}
.app-t{ background:#FFFEEE; border:1px #FFB27F solid; padding:8px 23px 15px 0px; overflow:hidden; width:697px;}
.app-t p{ color:#DE0000; padding-left:23px;}
.app-name li{ float:left; margin:14px 0px 0px 23px; display:inline; color:#666;}
.appli-time{  padding-top:15px;}
.appli-time-top p{ font-size:14px; line-height:26px; padding-left:23px;}
.zaibie{ width:92%; height:34px; text-align:left; margin:22px auto 0 auto; overflow:hidden; padding:0px 11px 0px 17px;}
.zaibie span{ line-height:34px;}
.tet-jia{background:#FF7373; color:#fff;}
.tuan-gg{background:#F2C200;}
.appli-time-fot p{ font-size:14px; line-height:26px; padding-left:23px; padding-right:20px;}
.fot-dao{ border-top:1px #FFDE8E solid; background:#FFFCDB; line-height:37px; text-align:center; margin-top:17px;}
.fot-dao a{ margin-left:39px; display:inline; font-size:14px; font-weight:bold;}
.zhuan-xian{ height:27px; margin-top:15px;  border:1px #E1E1E1 solid; padding:8px; overflow:hidden;}
.zhuan-xian span{ float:left; line-height:30px;}
.tuan-gao{width:100%;}
.tuan-gao dt{width:207px; height:36px;  display:block; color:#fff; line-height:36px; padding-left:18px; overflow:hidden; white-space:nowrap;}
.dao-con{border-left:1px #F79621 solid; border-right:1px #F79621 solid; width:223px;}
.dao-con p{color:#960000; padding:10px 11px 10px 11px; line-height:22px;}

.dao-fot{width:225px; height:4px; overflow:hidden;}
.lou-pic{width:92%; border-bottom:1px #D3D3D3 solid; margin:auto; padding:17px 3px 9px 3px;}
.lou-list{width:92%;  margin:auto; padding:8px 0px 5px 0px;}
.lou-list li{width:100%; line-height:23px; text-align:left;}

.lou-img{height:89px; float:left; margin:0px 10px 0px 0px;}
.lou-img li{width:146px; height:100%; float:left;}
.lou-img img{width:146px; height:89px; float:left;}
.pic-left{width:19px; float:left; padding-top:35px; display:block; height:54px; cursor:pointer;}
.pic-rig{width:19px; float:right; padding-top:35px; display:block; height:54px; cursor:pointer;}
.shi-pin img{width:203px; height:161px; margin:9px;}
.tuan-house{ padding:10px;}
.tuan-house img{width:200px; height:125px;}
.tuan-house p{ font-size:14px; font-weight:bold; line-height:22px; padding-top:7px; color:#333}
.custo-mers{width:692px; padding-left:28px;}

.bao-bg{background:url(../images/bao-bg.jpg) no-repeat 20px 11px; display:block; padding-top:16px;}
.bao-bg p{padding:13px 0px 5px 80px;}
.bao-bg strong{ padding-left:80px;}
.cus-form{width:668px; margin-left:28px; display:inline;}
.cus-form .form-top{width:100%; height:15px; background:url(../images/cus-name-top.gif) no-repeat;}
.cus-form .form-cen{width:100%; background:url(../images/cus-name-cen.gif) repeat-y; padding-bottom:20px;}
.cus-form .form-bottom{width:100%; height:20px; background:url(../images/cus-name-bottom.gif) no-repeat;}
.cus-form .form-cen label{width:80px; float:left; text-align:right; font-size:14px; font-weight:bold; padding-top:4px; color:#333;}

.cus-form .form-cen p{ padding-top:13px; color:#666; height:26px; line-height:23px;}
.write-n{width:199px; height:26px; background:url(../images/write-name.gif) no-repeat; line-height:26px; border:none; padding-left:3px;}
.xuan-dan{ padding-top:4px;}
.tejj-con{border-left:1px #FF1515 solid; border-right:1px #FF1515 solid; width:223px;}
.tejj-con p{color:#960000; padding:10px 11px 10px 11px; line-height:22px;}
.tj_jcon{width:396px; height:91px; background:url(../images/tezhong.gif) no-repeat; float:right; margin:6px 10px 0px 0px; text-align:left;}
.tj_jcon h3{ font-size:18px; color:#FF6900; padding:18px 0px 0px 98px;}

.te-jbg{ height:101px; background:url(../images/te-jbg.gif) no-repeat;}
.zk-top{width:720px; height:15px; background:url(../images/zk-top.gif) no-repeat; overflow:hidden;}
.zk-cen{width:720px; background:url(../images/zk-cen.gif) repeat-y; overflow:hidden;}
.zk-foot{width:720px; height:20px; background:url(../images/zk-foot.gif) no-repeat; overflow:hidden;}
.zkzk{ width:93%; margin:auto; padding-top:17px; padding-bottom:17px;}
.zkzk td{border-bottom:1px #E1E1E1 dotted; font-size:14px; padding-left:32px; line-height:33px;}
.zkzk td span{width:80px; text-align:right; float:left; padding-right:5px;}
.tjt-n{width:199px; height:26px; background:url(../images/tjt-name.gif) no-repeat; line-height:26px; border:none; padding-left:3px;}
.li-qiang{width:139px; height:38px; border:none; background:url(../images/li-qiang.gif) no-repeat; cursor:pointer;}
.li-jil{width:136px; height:37px; border:none; background:url(../images/li-ji.gif) no-repeat; cursor:pointer;}

.house-yuan{background:url(../images/tian-tejia.gif) no-repeat 95px 11px; display:block; padding-top:12px; text-align:left;}
.house-yuan p{padding:13px 0px 5px 173px;}
.house-yuan h1{ padding-left:173px;}
.er-form{width:803px; margin:16px auto 9px auto;}
.er-form .er-ftop{height:6px; overflow:hidden; background:url(../images/er-top.gif) no-repeat;}
.er-form .er-fcen{background:url(../images/er-cen.gif) repeat-y; text-align:left; padding:30px 0px 52px 68px; display:block;}
.er-form .er-ffot{height:21px; overflow:hidden; background:url(../images/er-bottom.gif) no-repeat;}
.er-form .er-fcen p{overflow:hidden; margin:7px 0px 3px 0px; font-size:14px; color:#666;}
.er-form .er-fcen p label{ float:left; text-align:right; width:120px; font-size:14px; line-height:28px; color:#333;}
.er-form .er-fcen p label span{ color:#ff0000; margin-right:6px; display:inline;}
.t-input{width:200px; height:25px; line-height:25px;}
.se-f{width:480px; height:115px; overflow-y:hidden;}

.tj-xx{background:url(../images/ti-jx.gif) no-repeat; border:none; cursor:pointer; width:134px; height:35px;}
.ti-xing{ padding-left:34px; text-align:left; color:#ff0000; line-height:25px;}
.saLe{position:absolute; width:173px; height:174px; right:-2px; top:-6px; background:url(../images/tian-tejia.gif) no-repeat left -70px;}
.succ-tj{background:url(../images/tj-succ.gif) no-repeat 232px 43px; display:block; padding-top:47px; text-align:left;}
.succ-tj p{padding:10px 0px 5px 306px;}
.succ-tj h1{ padding-left:306px;}
.succ-but{width:111px; height:26px; background:url(../images/succ-but.gif) no-repeat; text-align:center; line-height:26px; color:#FFF; font-weight:bold; float:left; margin-left:10px; display:inline;}
.succ-but a:hover{ text-decoration:none;}
.succ-but a{ display:block;}
.pad290{padding:34px 0px 70px 290px;}

.tj-xq{border:2px #f60 solid; text-align:left; width:133px; float:left; padding:1px 0px 1px 3px;}
.tj-xq em{ color:#333;}
.f12_N{ font-weight:normal; font-size:12px; width:126px;}
.f-M{overflow-y:hidden; width:124px; height:68px; margin-bottom:3px; overflow:hidden;}
.suc_ttj{ padding:9px 0 9px 5px;}
.t-J{width:81px; height:25px; background:url(../images/t-J.gif) no-repeat; border:none; text-align:center; line-height:25px; cursor:pointer; color:#fff; margin:7px 0px 4px 0px;}
.tj-zhaos{width:225px; height:120px; background:url(../images/tj-zhaos.gif) no-repeat;}
.zhao-ss{ font-size:18px; font-weight:bold; color:#FFFF00; padding:17px 0px 11px 10px;}
.pla-s{color:#FFF; padding:0px 0px 20px 64px;}
.tj-zz{ background:url(../images/tejia1tao_03.gif) no-repeat; width:80px; height:24px; text-align:center; line-height:24px; font-size:14px; color:#ff0000; margin-left:103px;}
.tj-zz a{ display:block;}
.tj-zz a:hover{ text-decoration:none;}
.tj-xq-1{border:2px #f60 solid; text-align:left; width:136px; color:#A90000; float:left; padding:3px 5px 3px 3px; line-height:16px;}
.tj-xq-1 a{ padding-top:10px;}
.tj-Zhan{width:180px; height:320px; position:relative; z-index:1; float:left;}
.colss-B{width:12px; height:12px; position:absolute; top:-17px; right:3px; z-index:100; background:url(../images/cLoss.gif) no-repeat; display:block; border:none; cursor:pointer;}
.kuanG{width:176px; border:2px #f60 solid; position:absolute; bottom:0px; left:0px; height:200px;}
.kuanG p{ margin-top:10px; overflow:hidden;}
.mm-Posi{background:url(../images/ke-Fu.gif) no-repeat; width:104px; height:109px; position:absolute; top:22px; left:40px; z-index:100;}

.tjXQ-te{width:153px; height:69px; overflow-y:hidden; margin-top:6px;}
.t-J-t{width:81px; height:25px; background:url(../images/t-J.gif) no-repeat; border:none; text-align:center; line-height:25px; cursor:pointer; color:#fff; margin-bottom:15px;}


ul.ercon_move{width:90%; overflow:hidden; background:#fff; margin:auto;}
ul.ercon_move li{ text-align:left; width:100%; padding:5px 0 0 0px; float:left; line-height:21px;}
.doing-zz{width:46px; margin-left:6px; display:inline; overflow:hidden; white-space:nowrap;}
.doing-zzx{width:36px; margin-left:6px; display:inline; overflow:hidden; white-space:nowrap;}

.doing-Df{width:48px;overflow:hidden; white-space:nowrap; margin-right:2px; display:inline;}
ul.ercon02{ padding:40px 0 2px 0; width:89%; overflow:hidden; margin:auto;}
ul.ercon02 li{background:url(../images/er.gif) no-repeat 0 11px; line-height:26px;}
.sibox_com{width:142px; float:left; margin-top:10px; margin-left:25px; overflow:hidden; display:inline;}
.sibox_comN{width:141px; margin:10px 0px 0px 0px;}
.six_out{background:#F2F2F2; border:1px #CECECE solid; padding:3px; width:134px; margin-bottom:6px;}
.six_out img{width:134px; height:79px;}
.six_list{width:134px; position:relative;}
.sibox_last{width:210px; float:left; margin:10px 0px 0px 36px; display:inline;}
.sibox_Lst{width:210px; margin:10px 0px 0px 0px; display:inline;}
.jz_Area{width:25px; overflow:hidden; white-space:nowrap; margin-right:3px; display:inline;}

.tuan_main{ border-top:1px solid #cdcdcd; padding-bottom:7px; padding-top:9px;}
