@CHARSET "GB18030";
html,body{margin: 0;padding: 0;width: 100%;height: 100%;}
html,body,span,div,td,th,select,input {
	font-family: ו, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:black;
}
.borderL{border: 1px solid #BFE8FF;}