@charset "utf-8";
.pagenation{clear: both;height: 25px;}
.pagenation span{float: left;display:-moz-inline-box;display:inline-block;height: 25px;line-height: 25px;text-align: center;border: 1px solid #CAD9EA;}
.total_records{color: #AD99BF;width: 120px;background:#F7F7F7;}
.page{width: 30px;background:#F7F7F7;cursor: pointer;margin-left: 5px;}
.page_over{background:#FFFFFF;}
.page_out{background: #F7F7F7;}
.goto{width: 100px;margin-left: 5px;background:#F7F7F7;}
.goto input{height: 20px;width: 50px;margin-top: 3px;font-size: 12px;}
.page a,.next a{display:-moz-inline-box;display:inline-block;width: 100%;height: 100%;}
.page a:link,.next a:link {color: #3E5E8E;text-decoration: none;}     /* unvisited link */
.page a:visited,.next a:visited {color: #3E5E8E;text-decoration: none;}  /* visited link */
.page a:hover,.next a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.page a:active,.next a:active {color: #FFA028;text-decoration: none;}   /* selected link */
.next{width:40px;margin-left: 5px;background:#F7F7F7;}
.page_checked{background: #CAD9EA;color:#009900;}