@CHARSET "utf-8";

td select{width: 80px;}
.tipFont{font-size: 13px;}
.position{
	width:760px;
	height: 20px;
}
.position label{font-weight: 600;font-size: 13px;text-align: left; }


.position a:link {color: black;text-decoration: none;}     /* unvisited link */
.position a:visited {color: black;text-decoration: none;}  /* visited link */
.position a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.position a:active {color: #FFA028;text-decoration: none;}   /* selected link */

.info_top{
	margin-top:10px;
	background: url("../../images/memberCenter/er-top.gif") no-repeat;
	width:760px;
	height:2px;
	*margin-top:0px;
	*background-position: 0 15px;
}
.info_mid{
	background: url("../../images/memberCenter/er-cen.gif") repeat-y;
	width:760px;
	text-align: center;
}

.info_bottom{
	background: url("../../images/memberCenter/er-bottom.gif") no-repeat;
	width:760px;
	height: 21px;
}
.title{
	font-size: 13px;
	font-weight: 800;
}
.title1{
	font-size: 12px;
	background: #F1F6FD;
}
.topLine{
	border-top: 1px solid #EDEDED;
}
.underLine{
	border-bottom: 2px solid #EDEDED;
}
.td_padding{padding-left: 5px;}
#uploadFilePanel{width: 300px;height: 200px;}
.imgDiv{
	width: 210px;
	height: 150px;
	padding: 2px;
	background: #F2F2F2;
	border: 1px solid #CECECE;
	float: left;
}
.imgDiv img{
	width: 206px;
	height: 116px;
}
.imgDiv_split{
	margin-left: 10px;
}
.imgDiv_top{
	margin-top: 5px;
}
.title_info1{
	border-bottom: 1px solid #D0121B;
	font-size: 12px;
	height: 35px;
}
.title_info2{
	background: #F5F5F5;
}
.info_td1{border-bottom: 1px solid #E8E8E8;height: 30px;padding-right:3px;}


