BODY {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ËÎÌו", arial; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px;
}
DIV {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
I {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
LI {
	WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.li-lli {
	WIDTH: 82%; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
IMG {
	VERTICAL-ALIGN: middle
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff760d; TEXT-DECORATION: underline
}
.norma {
	FONT-WEIGHT: normal
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.tC {
	TEXT-ALIGN: center
}
.tR {
	TEXT-ALIGN: right
}
.tL {
	TEXT-ALIGN: left
}
.po_re {
	POSITION: relative
}
.po_ab {
	POSITION: absolute
}
.over {
	OVERFLOW: hidden
}
.nor {
	WHITE-SPACE: nowrap
}
.block {
	DISPLAY: block
}
.disnon {
	DISPLAY: none
}
.flow {
	OVERFLOW: hidden
}
.f_style {
	FONT-FAMILY: Arial
}
.o_flow {
	WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.cur {
	CURSOR: pointer
}
.chao {
	WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.cFF7 {
	COLOR: #ff760d
}
.cf60 {
	COLOR: #ff6600
}
.c83 {
	COLOR: #838383
}
.cf3 {
	COLOR: #ff3300
}
.c99 {
	COLOR: #999
}
.cff {
	COLOR: #fff
}
.c66 {
	COLOR: #666
}
.c96 {
	COLOR: #969696
}
.c960 {
	COLOR: #960000
}
.c36c {
	COLOR: #3366cc
}
.c097 {
	COLOR: #099709
}
.C0 {
	COLOR: #cc0000
}
.cf0 {
	COLOR: #f00
}
.c33 {
	COLOR: #333
}
.cf75 {
	FONT-STYLE: italic; COLOR: #ff7f5f
}
.nom {
	FONT-WEIGHT: normal
}
.nomal {
	FONT-STYLE: normal
}
.bold {
	FONT-WEIGHT: bold
}
.f20 {
	FONT-SIZE: 20px
}
.fbo14 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.f14 {
	FONT-SIZE: 14px
}
.f24 {
	FONT-SIZE: 24px
}
.f16 {
	FONT-SIZE: 16px
}
.f13 {
	FONT-SIZE: 13px
}
.f12 {
	FONT-SIZE: 12px
}
.f24 {
	FONT-SIZE: 24px
}
.f30 {
	FONT-FAMILY: Arial; FONT-SIZE: 30px
}
.f25 {
	FONT-FAMILY: Arial; FONT-SIZE: 25px
}
.p_tita {
	WIDTH: 127px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.L29 {
	PADDING-TOP: 4px
}
.l19 {
	LINE-HEIGHT: 19px
}
.l20 {
	LINE-HEIGHT: 24px
}
.l17 {
	LINE-HEIGHT: 17px
}
.L22 {
	LINE-HEIGHT: 22px
}
.L25 {
	LINE-HEIGHT: 25px
}
.l26 {
	LINE-HEIGHT: 26px
}
.L29 {
	LINE-HEIGHT: 29px
}
.L59 {
	LINE-HEIGHT: 59px
}
.l30 {
	LINE-HEIGHT: 30px
}
.l31 {
	LINE-HEIGHT: 31px
}
.madt15 {
	MARGIN-TOP: 15px
}
.madt5 {
	MARGIN-TOP: 5px
}
.madt {
	MARGIN-TOP: 10px
}
.madt10 {
	MARGIN-TOP: 10px; OVERFLOW: hidden
}
.mard10 {
	MARGIN: 10px 0px 7px; OVERFLOW: hidden
}
.madr13 {
	MARGIN-RIGHT: 13px
}
.madr25 {
	MARGIN-RIGHT: 13px
}
.madr60 {
	DISPLAY: inline; MARGIN-RIGHT: 60px
}
.mad_b15 {
	MARGIN-BOTTOM: 15px
}
#madt21 {
	MARGIN-TOP: 20px
}
.mard32 {
	MARGIN-TOP: 25px
}
.madr42 {
	MARGIN-RIGHT: 42px
}
.madt49 {
	MARGIN-TOP: 49px
}
.mad_l7 {
	DISPLAY: inline; MARGIN-LEFT: 7px
}
.mad_0l7 {
	DISPLAY: inline; MARGIN-LEFT: 17px
}
.mad_L19 {
	DISPLAY: inline; MARGIN-LEFT: 19px
}
.mad_r21 {
	DISPLAY: inline; MARGIN-LEFT: 21px
}
.mad_L20 {
	DISPLAY: inline; MARGIN-LEFT: 25px
}
.mad_L {
	DISPLAY: inline; MARGIN-LEFT: 30px
}
.ma_l51 {
	DISPLAY: inline; MARGIN-LEFT: 51px
}
.mar_dd {
	MARGIN: 18px 0px; DISPLAY: inline
}
.pad3 {
	PADDING-LEFT: 45px; FLOAT: left; PADDING-TOP: 3px
}
.pad_t3 {
	PADDING-TOP: 3px
}
.pad_t4 {
	PADDING-TOP: 4px
}
.padt6 {
	PADDING-TOP: 6px
}
.pad_t {
	PADDING-TOP: 10px
}
#pad_t12 {
	PADDING-TOP: 12px
}
.pad_t12 {
	PADDING-TOP: 12px
}
.pad_t120 {
	PADDING-TOP: 110px
}
.padt15 {
	PADDING-TOP: 15px
}
.padt18 {
	PADDING-TOP: 18px
}
.pad_t20 {
	COLOR: #569a08; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 20px
}
.padt21 {
	PADDING-TOP: 21px
}
.pad_t23 {
	PADDING-TOP: 23px
}
.pad_t33 {
	PADDING-TOP: 32px
}
.pad_t45 {
	PADDING-TOP: 45px
}
.page_padd {
	PADDING-BOTTOM: 32px; PADDING-LEFT: 139px; PADDING-RIGHT: 0px; PADDING-TOP: 14px
}
.pad_l146 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 146px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.padr3 {
	PADDING-RIGHT: 3px
}
.pad_r7 {
	PADDING-RIGHT: 7px
}
.pad_r {
	PADDING-RIGHT: 20px
}
.pad_b7 {
	PADDING-BOTTOM: 2px
}
.pad_b25 {
	PADDING-BOTTOM: 25px
}
.mrd_b10 {
	MARGIN-BOTTOM: 10px
}
.pad_b {
	PADDING-BOTTOM: 10px
}
.pad_11 {
	PADDING-BOTTOM: 11px
}
.pad_b13 {
	PADDING-BOTTOM: 13px
}
.pad_b14 {
	PADDING-BOTTOM: 14px
}
.pad_b35 {
	PADDING-BOTTOM: 35px
}
.pad_b80 {
	PADDING-BOTTOM: 80px
}
.padl3 {
	PADDING-LEFT: 3px
}
.padl10 {
	PADDING-LEFT: 10px
}
.padl13 {
	PADDING-LEFT: 13px
}
.padl18 {
	PADDING-LEFT: 18px
}
.padl28 {
	PADDING-LEFT: 28px
}
.padl79 {
	PADDING-LEFT: 79px
}
.padl81 {
	PADDING-LEFT: 81px
}
.padl98 {
	PADDING-LEFT: 98px
}
.pad_l86 {
	PADDING-LEFT: 86px
}
.pad139 {
	PADDING-LEFT: 139px
}
.mar_L {
	DISPLAY: inline; MARGIN-LEFT: 24px
}
.hR {
	MARGIN-TOP: 20px; WIDTH: 100%; BACKGROUND: url(../images/hr.gif) no-repeat 37px 0px; FLOAT: left; HEIGHT: 6px; CLEAR: both; OVERFLOW: hidden
}
.h_hR {
	MARGIN: 10px 0px; WIDTH: 100%; BACKGROUND: url(../images/hr.gif) no-repeat 37px 0px; FLOAT: left; HEIGHT: 6px; CLEAR: both; OVERFLOW: hidden
}
.short {
	WIDTH: 100%; BACKGROUND: url(../images/short.gif) no-repeat 25px top; FLOAT: left; HEIGHT: 7px; OVERFLOW: hidden
}
.da_hR {
	WIDTH: 100%; HEIGHT: 1px; BORDER-TOP: #e5e3e1 1px dashed
}
.new_hr {
	WIDTH: 100%; BACKGROUND: url(../images/news_hr.gif) no-repeat 80px 0px; HEIGHT: 1px; OVERFLOW: hidden
}
.bd_a {
	BORDER-BOTTOM: #d5d5d5 1px dotted
}
.xx_bott {
	BORDER-BOTTOM: #d5d5d5 1px dotted; TEXT-ALIGN: center; PADDING-BOTTOM: 25px; FLOAT: left
}
.bd_r {
	BORDER-RIGHT: #fff 1px solid
}
.bde7 {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.borde {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid
}
.be5 {
	BORDER-BOTTOM: #e5e5e5 1px dashed
}
.bdc5 {
	BORDER-BOTTOM: #c5d8e7 1px solid; BORDER-LEFT: #c5d8e7 1px solid; BORDER-TOP: #c5d8e7 1px solid; BORDER-RIGHT: #c5d8e7 1px solid
}
.bdbca {
	BORDER-BOTTOM: #cacaca 1px dashed
}
.be1 {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid
}
.bfb {
	BORDER-BOTTOM: #ffb27f 1px solid; BORDER-LEFT: #ffb27f 1px solid; BORDER-TOP: #ffb27f 1px solid; BORDER-RIGHT: #ffb27f 1px solid
}
.bf15 {
	BORDER-BOTTOM: #ff1515 1px solid; BORDER-LEFT: #ff1515 1px solid; BORDER-TOP: #ff1515 1px solid; BORDER-RIGHT: #ff1515 1px solid
}
.bFBD289 {
	BORDER-BOTTOM: #fbd289 1px solid; BORDER-LEFT: #fbd289 1px solid; BORDER-TOP: #fbd289 1px solid; BORDER-RIGHT: #fbd289 1px solid
}
.bdfa {
	BORDER-BOTTOM: #9eadf9 1px solid; BORDER-LEFT: #9eadf9 1px solid; BORDER-TOP: #9eadf9 1px solid; BORDER-RIGHT: #9eadf9 1px solid
}
.bfc7 {
	BORDER-BOTTOM: #ffcc7f 1px solid; BORDER-LEFT: #ffcc7f 1px solid; BORDER-TOP: #ffcc7f 1px solid; BORDER-RIGHT: #ffcc7f 1px solid
}
.bE4E {
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.bD5D {
	BORDER-BOTTOM: #d5d5d5 1px dotted; MARGIN-TOP: 25px; WIDTH: 100%; FLOAT: left; HEIGHT: 1px
}
.E4E {
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.s_hr {
	MARGIN-TOP: 15px; WIDTH: 1px; BACKGROUND: url(../images/hr_s.gif) no-repeat; FLOAT: left; HEIGHT: 66px; MARGIN-LEFT: 15px
}
.fen_s {
	MARGIN-TOP: 5px; WIDTH: 2px; BACKGROUND: url(../images/grey_f.gif) no-repeat; FLOAT: left; HEIGHT: 69px; MARGIN-LEFT: 20px
}
.dbpic {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/dui_b.gif) no-repeat left 1px; FLOAT: left; HEIGHT: 19px; PADDING-TOP: 3px
}
.gzpic {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/guanzhu.gif) no-repeat left 1px; FLOAT: left; HEIGHT: 19px; PADDING-TOP: 3px
}
.hs_tit {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.box_bg {
	BACKGROUND: url(../images/body.gif) no-repeat
}
.xxx {
	MARGIN: auto; WIDTH: 97%; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px dashed
}
.xxxaa {
	WIDTH: 97%; DISPLAY: inline; FLOAT: left; HEIGHT: 1px; MARGIN-LEFT: 13px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px dashed
}
.w1_hr {
	WIDTH: 100%; MARGIN-BOTTOM: 10px; BACKGROUND: #ff7e1b; FLOAT: left; HEIGHT: 1px; OVERFLOW: hidden
}
.all366C A:link {
	COLOR: #3366cc
}
.all366C A:visited {
	COLOR: #3366cc
}
.all366C A:hover {
	COLOR: #3366cc
}
.all8f2 A:link {
	COLOR: #8f2c00
}
.all8f2 A:visited {
	COLOR: #8f2c00
}
.all8f2 A:hover {
	COLOR: #8f2c00
}
.allf60 A:link {
	COLOR: #ff760d
}
.allf60 A:visited {
	COLOR: #ff760d
}
.allf60 A:hover {
	COLOR: #ff760d
}
.allf00u A:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.allf00u A:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.allf00u A:hover {
	COLOR: #ff0000
}
.allf00 A:link {
	COLOR: #ff0000
}
.allf00 A:visited {
	COLOR: #ff0000
}
.allf00 A:hover {
	COLOR: #ff0000
}
.f30 A:link {
	COLOR: #ff3300
}
.f30 A:visited {
	COLOR: #ff3300
}
.f30 A:hover {
	COLOR: #ff3300
}
.allfff A:link {
	COLOR: #fff
}
.allfff A:visited {
	COLOR: #fff
}
.allfff A:hover {
	COLOR: #fff
}
.all98 A:link {
	COLOR: #989898
}
.all98 A:visited {
	COLOR: #989898
}
.all98 A:hover {
	COLOR: #f60
}
.f3d A:link {
	COLOR: #ff3d01
}
.f3d A:visited {
	COLOR: #ff3d01
}
.f3d A:hover {
	COLOR: #ff3d01
}
.all666 A:link {
	COLOR: #666
}
.all666 A:visited {
	COLOR: #666
}
.all666 A:hover {
	COLOR: #ff3300
}
.bdo A:link {
	COLOR: #bd0000
}
.bdo A:visited {
	COLOR: #bd0000
}
.bdo A:hover {
	COLOR: #bd0000
}
.all653 A:link {
	COLOR: #653300
}
.all653 A:visited {
	COLOR: #653300
}
.all653 A:hover {
	COLOR: #653300
}
.bg A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333
}
.bg A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333
}
.bg A:hover {
	DISPLAY: block; BACKGROUND: #3366cc; COLOR: #fff; TEXT-DECORATION: none
}
.allFF3 A:link {
	COLOR: #ff3300
}
.allFF3 A:visited {
	COLOR: #ff3300
}
.allFF3 A:hover {
	COLOR: #ff3300
}
.no_bg A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333
}
.no_bg A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333
}
.no_bg A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #653300
}
.w1 {
	WIDTH: 100%
}
.w3 {
	WIDTH: 90%
}
.w4 {
	WIDTH: 49%
}
.w5 {
	WIDTH: 40%
}
.w6 {
	WIDTH: 60%
}
.w8 {
	WIDTH: 83%
}
.w9 {
	WIDTH: 90%
}
.w980 {
	WIDTH: 98%
}
.w04 {
	WIDTH: 14%
}
.w017 {
	WIDTH: 17%
}
.w008 {
	WIDTH: 80%
}
.w084 {
	WIDTH: 84%
}
.w086 {
	WIDTH: 86%
}
.w0 {
	WIDTH: 40px
}
.w15 {
	WIDTH: 15px
}
.w60 {
	WIDTH: 67px
}
.w80 {
	WIDTH: 80px
}
.w63 {
	WIDTH: 63px; FLOAT: left
}
.w65 {
	WIDTH: 55px
}
.w77 {
	WIDTH: 90px
}
.w89 {
	WIDTH: 95px
}
.w97 {
	WIDTH: 97px
}
.w103 {
	WIDTH: 103px
}
.w130 {
	WIDTH: 130px
}
.w120 {
	WIDTH: 120px
}
.w135 {
	WIDTH: 135px
}
.w153 {
	WIDTH: 153px
}
.w162 {
	WIDTH: 162px
}
.w166 {
	WIDTH: 166px
}
.w172 {
	WIDTH: 172px
}
.w223 {
	MARGIN: auto; WIDTH: 223px
}
.w224 {
	WIDTH: 224px
}
.w238 {
	WIDTH: 238px
}
.w242 {
	WIDTH: 242px
}
.w273 {
	WIDTH: 273px
}
.w275 {
	WIDTH: 275px
}
.w300 {
	WIDTH: 300px
}
.w320 {
	WIDTH: 320px
}
.w336 {
	WIDTH: 336px
}
.w421 {
	WIDTH: 421px
}
.w520 {
	WIDTH: 520px
}
.w530 {
	WIDTH: 530px
}
.w595 {
	WIDTH: 594px
}
.w629 {
	WIDTH: 629px
}
.w660 {
	WIDTH: 660px
}
.w669 {
	WIDTH: 669px
}
.w690 {
	WIDTH: 690px
}
.w708 {
	WIDTH: 708px
}
.w710 {
	WIDTH: 710px
}
.w933 {
	WIDTH: 933px
}
.w958 {
	WIDTH: 958px
}
.w960 {
	MARGIN: 0px auto; WIDTH: 960px
}
.w9w {
	MARGIN-TOP: 10px; WIDTH: 960px
}
.w033 {
	LINE-HEIGHT: 22px; WIDTH: 368px; HEIGHT: 130px
}
.w122 {
	WIDTH: 122px; DISPLAY: inline; HEIGHT: 148px; MARGIN-LEFT: 30px
}
.w379 {
	LINE-HEIGHT: 22px; WIDTH: 550px; HEIGHT: 150px
}
.w915 {
	MARGIN: 15px 0px 0px 18px; WIDTH: 915px; DISPLAY: inline; FLOAT: left
}
.h22 {
	HEIGHT: 22px
}
.hh23 {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.h25 {
	HEIGHT: 25px
}
.h35 {
	HEIGHT: 35px
}
.h29 {
	HEIGHT: 29px
}
.h25 {
	PADDING-LEFT: 12px; HEIGHT: 25px; PADDING-TOP: 7px
}
.h_30 {
	HEIGHT: 20px; OVERFLOW: hidden
}
.h246 {
	HEIGHT: 246px
}
.h367 {
	HEIGHT: 387px
}
.hh_right {
	WIDTH: 240px; FLOAT: right
}
.lll {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.fa_ss {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/fa_l.gif) no-repeat 0px 5px; HEIGHT: 25px; FONT-SIZE: 12px
}
.you_tell {
	BACKGROUND: url(../images/hos.gif) no-repeat 25px -434px; HEIGHT: 25px; FONT-SIZE: 12px
}
.hh_left {
	MARGIN-TOP: 10px; WIDTH: 708px; BACKGROUND: url(../images/xiang_l.gif) repeat-x left top; FLOAT: left
}
.hh_f01 {
	BACKGROUND: url(../images/hos.gif) no-repeat 0px -386px
}
.hh_f02 {
	BACKGROUND: url(../images/hos.gif) no-repeat 0px -413px
}
.hh_f03 {
	BACKGROUND: url(../images/hos.gif) no-repeat 0px -438px
}
.hh_f04 {
	BACKGROUND: url(../images/guanzhu.gif) no-repeat 0px 3px
}
.hk_bg {
	BACKGROUND: url(../images/n_nav.gif) no-repeat
}
.bg_e4 {
	BORDER-BOTTOM: #e4e4e4 1px dashed; MARGIN-BOTTOM: 8px
}
.mi_s {
	BACKGROUND: url(../images/buyhou.gif) no-repeat
}
.s_top {
	BACKGROUND: url(../images/xu_top.gif) no-repeat
}
.s_foot {
	BACKGROUND: url(../images/xu_bottom.gif) no-repeat
}
.y_top {
	BACKGROUND: url(../images/n_nav.gif) no-repeat 0px -237px
}
.y_foot {
	BACKGROUND: url(../images/xu_bottom.gif) no-repeat
}
.uptit {
	BACKGROUND: url(../images/uptit.gif) no-repeat 13px 11px
}
.upe {
	BACKGROUND: url(../images/uptit.gif) no-repeat 46px 3px
}
.clicbg {
	BACKGROUND: url(../images/clickdd.gif) repeat-x left top
}
.send_mo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 21px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/n_nav.gif) no-repeat -764px -50px; PADDING-TOP: 3px
}
.send_mail {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 21px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/n_nav.gif) no-repeat -764px -83px; PADDING-TOP: 3px
}
.f_mo {
	LINE-HEIGHT: 25px; PADDING-LEFT: 20px; BACKGROUND: url(../images/fa_l.gif) no-repeat left 3px; FLOAT: right; HEIGHT: 25px; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.pg {
	LINE-HEIGHT: 16px; COLOR: #1e50a2; CLEAR: both; FONT-SIZE: 14px
}
.pg A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 6px 0px 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: inline; BACKGROUND: #f0f4f5; FLOAT: left; COLOR: #1e50a2; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pg A {
	BACKGROUND: #f0f4f5; COLOR: #1e50a2
}
.pa A:visited {
	BACKGROUND: #f0f4f5; COLOR: #1e50a2
}
.pg A:hover {
	BACKGROUND: #1e50a2; COLOR: #fff; TEXT-DECORATION: none
}
.pg A.pg_next {
	COLOR: #ccc
}
.pg A.pg_prev {
	COLOR: #ccc
}
.manu {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 20px auto; PADDING-LEFT: 3px; WIDTH: 98%; PADDING-RIGHT: 3px; FLOAT: left; FONT-SIZE: 14px; PADDING-TOP: 3px
}
.manu .eg {
	PADDING-RIGHT: 10px; COLOR: #666
}
.manu A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.manu A:hover {
	BORDER-BOTTOM: #36c 1px solid; BORDER-LEFT: #36c 1px solid; COLOR: #666; BORDER-TOP: #36c 1px solid; BORDER-RIGHT: #36c 1px solid
}
.manu A:active {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.manu .current {
	BORDER-BOTTOM: #36c 1px solid; BORDER-LEFT: #36c 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #36c; COLOR: #fff; BORDER-TOP: #36c 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #36c 1px solid; PADDING-TOP: 2px
}
.manu .disabled {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #ccc; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 2px
}
.sure {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 19px; WIDTH: 37px; BACKGROUND: url(../images/sure.gif) no-repeat; HEIGHT: 19px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.lpdgg {
	WIDTH: 85%; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.jiaspan {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
#FloatImage {
	POSITION: fixed; BOTTOM: 5px; RIGHT: 0px
}
#FloatImage .pp01 {
	POSITION: relative
}
#FloatImage .pp02 {
	POSITION: absolute; TOP: 0px; LEFT: 65px
}
* HTML {
	BACKGROUND: url(null) fixed no-repeat
}
* HTML #FloatImage {
	POSITION: absolute; ; TOP: expression(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-5)
}
.fcdb {
	BACKGROUND: #fffcdb
}
.pad_595 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ea_3 {
	MARGIN-TOP: 25px; WIDTH: 705px; BACKGROUND: #eaeaea; FLOAT: left; HEIGHT: 3px; OVERFLOW: hidden
}
.padt7 {
	PADDING-TOP: 7px
}
.madt15 {
	MARGIN-TOP: 15px
}
.today-mbg {
	MIN-HEIGHT: 105px; BACKGROUND: url(../images/today.gif) no-repeat 5px 0px; HEIGHT: 105px; OVERFLOW: visible
}
.jin-ri {
	MIN-HEIGHT: 105px; BACKGROUND: url(../images/jin-ri.gif) no-repeat 5px 0px; HEIGHT: 105px; OVERFLOW: visible
}
.tu-Price {
	BACKGROUND: url(../images/deal-tuan.gif) no-repeat
}
.te-Price {
	BACKGROUND: url(../images/te-jia1.gif) no-repeat
}
.tgg-img {
	BACKGROUND: url(../images/tuan-gao.gif) no-repeat
}
.tee-img {
	BACKGROUND: url(../images/te-gao.gif) no-repeat
}
.team-buy {
	BACKGROUND: url(../images/tuan-fot.gif) no-repeat
}
.expen-buy {
	BACKGROUND: url(../images/jia-foot.gif) no-repeat
}
.top {
	MARGIN: auto; WIDTH: 960px; BACKGROUND: url(../images/topbg.gif) repeat-x; HEIGHT: 26px
}
.top .topcon {
	MARGIN: auto; WIDTH: 960px; HEIGHT: 100%
}
.head {
	TEXT-ALIGN: left; MARGIN-TOP: 18px; WIDTH: 100%
}
.logo {
	WIDTH: 269px; DISPLAY: inline; FLOAT: left; HEIGHT: 75px; MARGIN-LEFT: 20px
}
.logo IMG {
	WIDTH: 269px; HEIGHT: 75px
}
.island {
	MARGIN: 12px 27px 0px 15px; DISPLAY: inline
}
.w3top {
	WIDTH: 457px; BACKGROUND: url(../images/topn_bg.gif) no-repeat left 2px; HEIGHT: 27px
}
.topnav LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 62px; DISPLAY: inline; FLOAT: left; HEIGHT: 25px; MARGIN-LEFT: 5px
}
.topn_bootm {
	WIDTH: 457px; BACKGROUND: url(../images/top_ser.gif) no-repeat; HEIGHT: 37px
}
.search_top {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 25px; MARGIN: 2px 0px 0px 7px; PADDING-LEFT: 30px; WIDTH: 334px; BACKGROUND: url(../images/fangda.gif) #fff no-repeat left center; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.sou_bg {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 2px 0px 0px 3px; WIDTH: 75px; DISPLAY: inline; BACKGROUND: url(../images/sebg.jpg) no-repeat; FLOAT: left; HEIGHT: 26px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.topnavOn {
	MARGIN-TOP: 2px; DISPLAY: inline; BACKGROUND: url(../images/topnav.gif) no-repeat; COLOR: #fff; MARGIN-LEFT: 5px; CURSOR: pointer; FONT-WEIGHT: bold
}
.topnavOff {
	CURSOR: pointer
}
.navbg {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: url(../images/main_bg.gif) repeat-x 0px 55px; HEIGHT: 56px; OVERFLOW: hidden; PADDING-TOP: 20px
}
#mainNav {
	FLOAT: left
}
#mainNav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; MARGIN: 0px 0px 0px 4px; WIDTH: 89px; DISPLAY: inline; BACKGROUND: url(../images/nav.gif) no-repeat -95px 0px; FLOAT: left; HEIGHT: 35px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#mainNav A {
	COLOR: #333
}
#mainNav A:hover {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; MARGIN: 0px 0px 0px 4px; WIDTH: 89px; DISPLAY: inline; BACKGROUND: url(../images/nav.gif) no-repeat; HEIGHT: 35px; COLOR: #653300; TEXT-DECORATION: none
}
#mainNav A.nav_mson {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; MARGIN: 0px 0px 0px 4px; WIDTH: 89px; DISPLAY: inline; BACKGROUND: url(../images/nav.gif) no-repeat; HEIGHT: 35px; COLOR: #653300; FONT-SIZE: 15px; TEXT-DECORATION: none
}
#mainNav A.nav_home {
	MARGIN: 0px
}
#mainNav A.nav_home:hover {
	MARGIN: 0px
}
.wz-locc {
	LINE-HEIGHT: 17px; PADDING-LEFT: 30px; BACKGROUND: url(../images/tuanwz.gif) no-repeat left 0px
}
.index_hou {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 958px; BACKGROUND: #f6f6f6; HEIGHT: 56px; COLOR: #dcdcdc; CLEAR: both; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 10px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.footer LI {
	PADDING-TOP: 10px
}
.new_icon {
	POSITION: absolute; WIDTH: 22px; BACKGROUND: url(../images/new_icon.gif) no-repeat; HEIGHT: 12px; TOP: -9px; RIGHT: 24px
}
.z_Xie {
	WIDTH: 100%; FLOAT: left; HEIGHT: 10px; OVERFLOW: hidden
}
