@CHARSET "UTF-8";
html,body{
	margin: 0 0 0 0;
	width: 100%;
}
input{
 height:21px;
}

body,html,td,input,select,span,a,div,option {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:black;
}
.stand_width{width:960px}
.split_height{margin-top: 15px;}
.top_tip{
	background-color: #EEEEEE;
	height: 25px;
	width: 100%;
}
.top_tip div{
	width: 960px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
}
.top_tip span{
	display:-moz-inline-box;display:inline-block;
	height: 25px;
	line-height: 25px;
}
.top_tip a{
	font-size: 13px;
}
.top_tip a:link {color: black;text-decoration: none;}     /* unvisited link */
.top_tip a:visited {color: black;text-decoration: none;}  /* visited link */
.top_tip a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.top_tip a:active {color: #FFA028;text-decoration: none;}   /* selected link */

#charea{
	width:200px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #D0121B;
	background: white;
	position: absolute;
	display: none;
}
#charea span{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.area_over{
	background: #F2B8BE;
}
.area_out{
	background: #FFFFFF;
}
.panel{
	width:100%;
}
.layout {
	width:960px;
	float:top;
}
.large_ad{
	width:100%;
	height:100px;
}
.panel #logo{
	width: 100%;
	float: left;
	height: 90px;
	background: url("../images/logo5.png") no-repeat;
	background-position: 0 0px;
	*background-position-y:0px;
}
.panel #search{
	width: 100%;
	float: left;
}
#ser_type{
	padding-left: 22px;
}

#search .pro{
	display:-moz-inline-box;display:inline-block;
	height: 25px;
	line-height: 25px;
	cursor:pointer;
	padding-left:10px;
	padding-right:10px;
	font-size: 13px;
}
.pro_selected{
	background: #D0121B;
	color: white;
}
#ser_input{
	height: 40px;
	background: url("../images/search_toolbar.png") no-repeat;
	background-position:10px -5px;
	padding-left: 12px;
}
#ser_input span{
	display:-moz-inline-box;display:inline-block;
	height: 32px;
	line-height: 32px;
	float:left;
}
#ser1{
	padding-top:6px;
	padding-left:8px;
	height: 26px;
	line-height: 26px;
}
#ser_input input{
	width: 285px;
	border: 0px;
	height:17px;
	line-height:17px;
	font-size: 15px;	
	padding-left: 20px;	
	background: url("../images/search.jpg") no-repeat 4px;
	background-color: white;
}
#ser_btn{
	color:white;
	font-weight:bold;
	width: 100%;
	font-size:13px;
	cursor: pointer;
	text-align: center;
}
#ser_senior,#ser_help{
	width: 100%;
	color:white;
	font-weight:bold;
	font-size:13px;
	cursor: pointer;
	text-align: center;
}
#ser_help{
}
#ser_senior a{
	display:-moz-inline-box;display:inline-block;
	font-size:13px;
	padding-top:3px;
}
#ser_senior a:link {color: #666666;text-decoration: none;}     /* unvisited link */
#ser_senior a:visited {color: #666666;text-decoration: none;}
#ser_senior a:hover {color: #FFA028;text-decoration: underline;}
#ser_senior a:active {color: #FFA028;text-decoration: none;} 
#hot_tag{
	clear:left;
	height:20px;
	font-size:12px;
	width:100%;
	display:-moz-inline-box;display:inline-block;
	padding-left: 12px;
}

#menu{
	clear:left;
	border-bottom: 2px solid #D0121B;
	margin-top: 2px;
	padding-left: 10px;
	height:35px;
}


.menu_index{
    height:25px;
	line-height:25px;
	display:-moz-inline-box;display:inline-block;
	background: url("../images/head_menu.png");
	background-position: 0 345px;
	color: white;
}


.menu_bulid{
    height:25px;
	line-height:25px;
	display:-moz-inline-box;display:inline-block;
	background: url("../images/head_menu.png") ;
	background-position: 0 276px;
	color: white;
}

.menu_news{
    height:25px;
	line-height:25px;
	display:-moz-inline-box;display:inline-block;
	background: url("../images/head_menu.png");
	background-position: 0 225px;
	color: white;
}

.copyright{
	border-top: 3px solid #D0121B;
	height: 150px;
	margin-top: 15px;
}
.copyright p{
	padding-top: 10px;
	font-size: 14px;
}
#searchPanel ul li table td{
	height: 30px;
}
#rmbq a{
	padding-left: 10px;
	padding-right: 10px;
}
#rmbq a:link {color: black;text-decoration: none;}     /* unvisited link */
#rmbq a:visited {color: black;text-decoration: none;}  /* visited link */
#rmbq a:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
#rmbq a:active {color: #FFA028;text-decoration: none;}   /* selected link */

.position{
	width: 940px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 13px;
	text-align: left;
}
.layoutTab{
	width: 960px;
}

.titleClick{
	font-size: 17px;
	font-weight: bold;
}
.titleClick:link {color: black;text-decoration: none;}     /* unvisited link */
.titleClick:visited {color: black;text-decoration: none;}  /* visited link */
.titleClick:hover {color: #FFA028;text-decoration: underline;}   /* mouse over link */
.titleClick:active {color: #FFA028;text-decoration: none;}   /* selected link */

.advert{
	height:80px;
}


.searchhead{
   height:5px;
   width:760px;
   background: url("../images/search_frame.png") repeat-x ;
   background-position: 0px 0px;
   overflow: hidden;
}

.searchfloot{
   height:5px;
   width:760px;
   background: url("../images/search_frame.png") repeat-x ;
   background-position: 0px -12px;
   overflow: hidden;
}
.searchcenter{
  background: #eef1f4;
  BORDER-left: #99bbe8 1px solid;
  BORDER-right: #99bbe8 1px solid;
  padding-left: 10px;
  text-align: center;
}

.managediv{
   width: 100%; 
   height: 100%;
   margin-top: 10px;
}

.searchline{
  padding:2px 2px 2px 2px;
  wight:753px;
  BORDER-bottom: #d0e0f4 1px solid;
}





ul.head{
	padding: 0px;
	margin: 0px -5px;
	list-style: none;
	float: left;
	clear: left;
}
ul.head li {
	float: left;
}
ul.head li a {
	float: left;
	text-decoration: none;
	color: #000;
	padding: 10px 12px 0 0;
	margin-right: 8px;
	font: 900 14px "Arial", Helvetica, sans-serif;
	background: url(../images/menu_link.gif) no-repeat top right;
}
ul.head li a span {
	float: left;
	padding-right: 14px;
	display: block;
	margin-top: -10px;
	height: 35px;
	background: url(../images/menu_link.gif) no-repeat top left;
	text-decoration: none;
	}
	
ul.head li a:hover {
 	color: #fff;
	background: url(../images/menu.png) no-repeat top right;
	text-decoration: none;
}
ul.head li a:hover span {
	background: url(../images/menu.png) no-repeat top left;
	text-decoration: none;
}
ul.head li a.current {
	background: url(../images/menu.png) no-repeat top right;
	text-decoration: none;
 	color: #fff;
}
ul.head li a.current span {
	background: url(../images/menu.png) no-repeat top left;
	text-decoration: none;
}


.w250{
  width:250px;
   margin-top:0px;
}
 