ErrorDocument 401 "Authorization Required"
ErrorDocument 403 "Forbidden"
ErrorDocument 404 /errors/404.html
ErrorDocument 405 "Method Not Allowed"
ErrorDocument 408 "Request Timed Out"
ErrorDocument 411 "Content Length Required"
ErrorDocument 500 /errors/500.html

Options -Indexes


RewriteEngine on
RewriteCond %{ HTTP_REFERER } !^$
RewriteCond %{ HTTP_REFERER } !^http://(www.)?mymfy.com/.*$ [NC]
RewriteRule .(gif &line;jpg)$ - [F]

order allow,deny
deny from all