<?xml version="1.0" encoding="UTF-8"?>
<menuList>
	<menu>
		<name>置业管理</name>
		<tip></tip>
		<url></url>
		<descr>1</descr>
		<allow-groups enable="false"></allow-groups>
		<children>
			<menu>
				<name>新房</name>
				<tip></tip>
				<url>pro/managerbuid.jsp</url>
				<descr>11</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>住宅</name>
				<tip></tip>
				<url></url>
				<category-list>
					<category>
						<name>出售</name>
						<url>pro/secondBuliding_manage.jsp</url>
					</category>
					<category>
						<name>出租</name>
						<url>pro/secondBuliding_rentManage.jsp</url>
					</category>
				</category-list>
				<descr>12</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>写字楼</name>
				<tip></tip>
				<url></url>
				<category-list>
					<category>
						<name>出租</name>
						<url>pro/office/managerent.jsp</url>
					</category>
					<category>
						<name>出售</name>
						<url>pro/office/managesale.jsp</url>
					</category>
					<category>
						<name>需求</name>
						<url>pro/office/managerequirements.jsp</url>
					</category>
				</category-list>
				<descr>13</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>商铺</name>
				<tip></tip>
				<url></url>
				<category-list>
					<category>
						<name>出租</name>
						<url>pro/manageshoprent.jsp</url>
					</category>
					<category>
						<name>出售</name>
						<url>pro/manageshopsale.jsp</url>
					</category>
					<category>
						<name>需求</name>
						<url>pro/manageshopdemand.jsp</url>
					</category>
				</category-list>
				<descr>14</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>生意转让</name>
				<tip></tip>
			     <url>pro/manageMessage.jsp</url>
				<descr>15</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>工业地产</name>
				<tip></tip>
				<url></url>
				<category-list>
					<category>
						<name>出租</name>
						<url>pro/manageindustryrent.jsp</url>
					</category>
					<category>
						<name>出售</name>
						<url>pro/manageindustrysale.jsp</url>
					</category>
					<category>
						<name>需求</name>
						<url>pro/manageindustrydemand.jsp</url>
					</category>
				</category-list>
				<descr>16</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>大型项目</name>
				<tip></tip>
			     <url>pro/manageproject.jsp</url>
				<descr>17</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
		</children>
	</menu>
	<menu>
		<name>常用操作</name>
		<tip></tip>
		<url></url>
		<descr>2</descr>
		<allow-groups enable="true"></allow-groups>
		<children>
			<menu>
				<name>我关注的楼盘</name>
				<tip></tip>
				<url><![CDATA[proInfo/proInfo_showProInfo.shtml?operateType=2&page=1]]></url>
				<descr>21</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>我浏览过的楼盘</name>
				<tip></tip>
				<url><![CDATA[proInfo/proInfo_showProInfo.shtml?operateType=1&page=1]]></url>
				<descr>22</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>我的备选楼盘</name>
				<tip></tip>
				<url><![CDATA[proInfo/proInfo_showProInfo.shtml?operateType=4&page=1]]></url>
				<descr>23</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>房友最关注楼盘</name>
				<tip></tip>
				<url><![CDATA[proInfo/proInfo_showMoreAttentionBuilding.shtml?page=1]]></url>
				<descr>24</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>最新开盘</name>
				<tip></tip>
				<url><![CDATA[proInfo/proInfo_showNewBuilding.shtml?page=1]]></url>
				<descr>25</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
		</children>
	</menu>
	<menu>
		<name>个人信息中心</name>
		<tip></tip>
		<url></url>
		<descr>3</descr>
		<allow-groups enable="true">anyone</allow-groups>
		<children>
			<menu>
				<name>中心首页</name>
				<tip></tip>
				<url><![CDATA[mem/baseinfo_mainPage.shtml]]></url>
				<descr>31</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>修改资料</name>
				<tip></tip>
				<url><![CDATA[mem/baseinfo_modUserInfoPage.shtml]]></url>
				<descr>32</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>站 内 信</name>
				<tip></tip>
				<url><![CDATA[message/message_showMessage.shtml?flag=2]]></url>
				<descr>33</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>店铺公告</name>
				<tip></tip>
				<url><![CDATA[message/message_showNotice.shtml?flag=3]]></url>
				<descr>34</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>留言管理</name>
				<tip></tip>
				<url><![CDATA[message/message_showMessage.shtml?flag=1]]></url>
				<descr>35</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>身份认证</name>
				<tip></tip>
				<url><![CDATA[member/identityAuth.jsp]]></url>
				<descr>36</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>执业认证</name>
				<tip></tip>
				<url><![CDATA[member/jobAuth.jsp]]></url>
				<descr>37</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>密码修改</name>
				<tip></tip>
				<url><![CDATA[mem/baseinfo_changePassMember.shtml]]></url>
				<descr>38</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
		</children>
	</menu>
	<menu>
		<name>下载中心</name>
		<tip></tip>
		<url></url>
		<descr>4</descr>
		<allow-groups enable="true">anyone</allow-groups>
		<children>
			<menu>
				<name>培训教材</name>
				<tip></tip>
				<url><![CDATA[message/message_fileDownLoad.shtml?type=1]]></url>
				<descr>41</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>合同文本</name>
				<tip></tip>
				<url><![CDATA[message/message_fileDownLoad.shtml?type=2]]></url>
				<descr>42</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			<menu>
				<name>研究报告</name>
				<tip></tip>
				<url><![CDATA[message/message_fileDownLoad.shtml?type=3]]></url>
				<descr>43</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
			
		</children>
	</menu>
	<menu>
		<name>数据共享中心</name>
		<tip></tip>
		<url></url>
		<descr>5</descr>
		<allow-groups enable="true">anyone</allow-groups>
		<children>
			<menu>
				<name>写字楼信息共享</name>
				<tip></tip>
				<url><![CDATA[integration/officeSyn.jsp]]></url>
				<descr>51</descr>
				<allow-groups enable="true">anyone</allow-groups>
			</menu>
		</children>
	</menu>
</menuList>